[submodule "external/registry-contract"]
	path = external/registry-contract
	url = git@github.com:GarondEisenfaust/registry-contract.git
[submodule "external/http-storage"]
	path = external/http-storage
	url = git@github.com:GarondEisenfaust/http-storage.git
[submodule "external/external-search-provider"]
	path = external/external-search-provider
	url = git@github.com:GarondEisenfaust/external-search-provider.git
[submodule "external/scd-registry-frontend"]
	path = external/scd-registry-frontend
	url = git@github.com:GarondEisenfaust/scd-registry-frontend.git
[submodule "external/decentralised-scd-registry-common"]
	path = external/decentralised-scd-registry-common
	url = git@github.com:GarondEisenfaust/decentralised-scd-registry-common.git
