[submodule "external/scd-registry-common"]
path = external/scd-registry-common
url = https://github.com/TIHBS/scd-registry-common.git
[submodule "external/scd-registry-frontend"]
path = external/scd-registry-frontend
url = https://github.com/TIHBS/scd-registry-frontend.git
[submodule "external/scd-registry-contract"]
path = external/scd-registry-contract
url = https://github.com/TIHBS/scd-registry-contract.git
[submodule "external/scd-registry-http-storage"]
path = external/scd-registry-http-storage
url = https://github.com/TIHBS/scd-registry-http-storage.git
[submodule "external/scd-registry-external-search-provider"]
path = external/scd-registry-external-search-provider
url = https://github.com/TIHBS/scd-registry-external-search-provider.git
